/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.checkbox-error-state.has-error-state {
  color: red;
}

.checkbox-error-state.has-error-state .mat-checkbox-frame {
  border-color: red;
}
